@keyframes bounce {
  0%   { transform: translateX(-5000px); }
  70%  { transform: translateX(30px);    }
  90%  { transform: translateX(-10px);   }
  100% { transform: translateX(0);       }
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */

body {
  min-width: 900px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  /*background: #000000 url("../img/nerds-catalog.jpg") no-repeat 50% 0px;*/
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

/* ===== HEADER ===== */
.main-header {
  padding-top: 27px;
  margin-bottom: 85px;
  color: #000000;
  background-color: #eeeeee;
  padding-bottom: 1px;
}

.inner-page .main-header {
  margin-bottom: 75px;
}

.header-logo {
  margin-right: 20px;
  float: left;
  width: 140px;
}

.header-logo img {
  width: 139px;
  height: 56px;
}

.main-navigation {
  float: left;
  margin-top: 17px;
  width: 582px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: right;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation a {
  display: block;
  padding: 10px 22px;
  color: #000000;
  text-decoration: none;
}

.main-navigation .active,
.shop-cart .active {
  position: relative;
}

.main-navigation .active::after,
.shop-cart .active::after {
  content: "";
  position: absolute;
  left: 21px;
  right: 21px;
  height: 2px;
  background-color: #fb565a;
  bottom: 10px;
}

.shop-cart .active::after {
  left: 23px;
  right: -1px;
}

.main-navigation .active span {
  display: block;
  padding: 10px 22px;
}

.shop-cart {
  float: right;
  max-width: 120px;
  margin-top: 17px;
}

.shop-cart .icon-basket {
  margin-right: 8px;
}

.shop-cart .cart {
  position: relative;
  display: block;
  padding: 10px 22px;
  padding-right: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.shop-cart .active {
  cursor: default;
}

.main-navigation a:hover,
.cart:hover {
  color: #fb565a;
}

.main-navigation a:active,
.cart:active {
  color: #000000;
  opacity: 0.4;
}

.shop-cart .active:hover {
  color: #000000;
}

.main-slider {
  position: relative;
  width: 880px;
  height: 310px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-slider input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 100;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 4px;
  background-color: #ffffff;
  border: 3px solid #ffffff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #c1c1c1;
}

.main-slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-slider .slide-text {
  width: 560px;
  padding: 30px 0;
  color: #283136;
}

.main-slider .slide-title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #000000;
}

.main-slider p {
  margin: 0;
  padding: 0;
}

.main-slider .btn {
  display: block;
  width: 240px;
  margin: 10px 0;
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.main-slider .slide:nth-child(1) {
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.main-slider .slide:nth-child(2) {
  background-image: url("../img/slider2.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.main-slider .slide:nth-child(3) {
  background-image: url("../img/slider3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.main-slider .slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
  animation: bounce 0.6s;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
  animation: bounce 0.6s;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
  animation: bounce 0.6s;
}

.header-title {
}

.header-title h1 {
  margin: 0;
  margin-bottom: 85px;
  padding: 0 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}

/* ===== INDEX CONTENT ===== */
.features {
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.features-item {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.features-item img {
  width: 240px;
  height: 124px;
}

.features-item h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.features-item p {
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 22px;
}

.features-item:nth-child(3n) {
  margin-right: 0;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  margin-right: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: #d6494d;
}

.btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

.btn-green {
  background-color: #00ca74;
}

.btn-green:hover {
  background-color: #01a25e;
}

.btn-green:active {
  background-color: #009053;
  box-shadow: inset 0 3px 0 0 #007b47;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover {
  background-color: #d6ae2c;
}

.btn-yellow:active {
  background-color: #c09b24;
  box-shadow: inset 0 3px 0 0 #a3841f;
}

.btn-grey {
  background-color: #f1f1f1;
  color: #000000;
}

.btn-grey:hover {
  background-color: #e5e5e5;
}

.btn-grey:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #b5b5b5;
}

.index-content-top {
  padding-top: 60px;
  margin-bottom: 30px;
}

.index-content-top b {
  display: block;
  padding-top: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}

.index-content-top-left {
  float: left;
  width: 570px;
  margin-right: 20px;
}

.index-content-top-right {
  float: right;
  width: 240px;
  text-align: center;
}

.content-logo-title span {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 20px;
  padding: 0 15px;;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  z-index: 2;
}

.content-logo-title::after {
  content: "";
  position: relative;
  display: block;
  top: -12px;
  height: 2px;
  background-color: #eeeeee;
  z-index: 1;
}

.index-content-bottom {
  padding-bottom: 50px;
  border-bottom: 2px solid #eeeeee;
}

.index-content-bottom h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.custom-list-1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom-list-1 li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 22px;
}

.custom-list-1 li::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.index-content-bottom-left {
  float: left;
  width: 570px;
  margin-right: 20px;
}

.index-content-bottom-right {
  float: right;
  width: 240px;
}

.clients {
  margin-bottom: 85px;
  border-bottom: 2px solid #eeeeee;
  font-size: 0px;
  line-height: 0px;
  text-align: center;
  padding: 0 12px;
}

.clients-logo {
  display: inline-block;
  margin-top: 45px;
  margin-bottom: 30px;
  margin-right: 120px;
  vertical-align: middle;
  opacity: 0.2;
}

.clients-logo:nth-child(3) {
  margin-right: 0;
}

.clients-logo:hover {
  opacity: 1;
}

/* ===== CATALOG PAGE CONTENT ===== */
.shop-content {
  margin-bottom: 80px;
}

.range-filter {
  margin-bottom: 50px;
}

.catalog-filters {
  float: left;
  width: 240px;
  margin: 0;
  padding: 0;
  margin-right: 80px;
}

.range-filter {
  width: 240px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left:20px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .max-toggle {
  left: 155px;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 5px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #283136;
}

.price-controls {
  position: relative;
}

.price-controls .min-price {
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
}

.price-controls .max-price {
  position: absolute;
  right: 0;
    padding: 0;
  margin: 0;
}

.catalog-filters fieldset {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  border: 0;
}

.catalog-filters legend {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filters label {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding: 0;
  padding-left: 35px;
  margin: 0;
  margin-bottom: 20px;
  cursor: pointer;
  color: #283136;
}

.catalog-filters label:last-child {
  margin-bottom: 0;
}

.catalog-filters label:hover {
  color: #000000;
}

.catalog-filters input[type="checkbox"],
.catalog-filters input[type="radio"] {
  display: none;
}

.catalog-filters input[type="checkbox"] + .checkbox-indicator::before,
.catalog-filters input[type="radio"] + .radio-indicator::before {
  content: "";
  font-family: "symbols-nerds";
  position: absolute;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  left: 0;
  top: 0;
  color: #c1c1c1;
}

.catalog-filters input[type="checkbox"] + .checkbox-indicator::before {
  content: "\2610";
}

.catalog-filters input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "\2611";
}

.catalog-filters input[type="radio"] + .radio-indicator::before {
  content: "\25cb";
}

.catalog-filters input[type="radio"]:checked + .radio-indicator::before {
  content: "\25cf";
}

.catalog-filters label:hover > .checkbox-indicator::before,
.catalog-filters label:hover > .radio-indicator::before {
  color: #b5b5b5;
}

.catalog-filters .btn {
  padding-left: 47px;
  padding-right: 47px;
  margin-top: 15px;
}

.catalog-sorting {
  margin-bottom: 17px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sorting .sort-title {
  float: left;
  margin-right: 40px;
}

.catalog-sorting .sort-buttons {
  float: left;
  font-size: 0
}

.sort-buttons a {
  display: inline-block;
  vertical-align: top;
  margin-right: 45px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted #00ca74;
  color: #000000;
  opacity: 0.3;
}

.sort-buttons a:hover {
  border-bottom: 1px solid #00ca74;
  opacity: 1;
}

.sort-buttons a:active,
.sort-buttons .sort-current {
  border-bottom: 0;
  opacity: 1;
}

.sort-buttons a:last-child {
  margin-right: 0;
}

.catalog-sorting .sort-switches {
  float: right;
}

.sort-switches .switch-down {
margin-right: 4px;
}

.sort-switches .switch-up::before,
.sort-switches .switch-down::before {
display: inline-block;
width: 10px;
height: 10px;
vertical-align: baseline;
font-family: "symbols-nerds";
font-size: 24px;
}

.sort-switches .switch-up::before {
content: "\25b2";
}

.sort-switches .switch-down::before {
content: "\25bc";
}

.sort-switches .switch-up,
.sort-switches .switch-down {
color: #c1c1c1;
}

.sort-switches .switch-up:hover,
.sort-switches .switch-down:hover {
color: #b5b5b5;
}

.sort-switches .switch-up:active,
.sort-switches .switch-down:active {
color: #000000;
}

.sort-switches .switch-active::before,
.sort-switches .switch-active:hover::before,
.sort-switches .switch-active:active::before {
color: #00ca74;
}

.catalog-gallery {
  float: right;
  width: 560px;
}

.gallery-items {
  font-size: 0;
  line-height: 0;
}

.gallery-item {
  position: relative;
  display: inline-block;
  width: 240px;
  min-height: 270px;
  margin-right: 80px;
  margin-bottom: 80px;
  vertical-align: top;
  background-color: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.gallery-item:nth-child(2n) {
  margin-right: 0;
}

.gallery-item-top {
  padding: 10px 0;
  margin: 0;
  width: 240px;
  height: 10px;
  list-style: none;
  background-color: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.gallery-item:hover .gallery-item-top {
  background-color: #797979;
}

.gallery-item-top li {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
  margin-left: 7px;
  background-color: #ffffff;
  border-radius: 50%;
}

.gallery-item-top li:first-child {
  margin-left: 12px;
}

.gallery-item img {
  height: 240px;
  width: 240px;
}

.gallery-item-description {
  display: none;
  position: absolute;
  top: 0;
  margin: 20px;
  margin-top: 50px;
  padding: 30px;
  box-sizing: border-box;
  min-height: 200px;
  text-align: center;
  background-color: #ffffff;
  z-index: 10;
}

.gallery-item:hover .gallery-item-description {
  display: block;
}

.gallery-item-description h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery-item-description p {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 18px;
}
.gallery-item-description .btn {
  padding: 7px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
}

.catalog-paginator {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
}

.catalog-paginator li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
  text-align: center;
  border-radius: 4px;
}

.catalog-paginator li:last-child {
  margin-right: 0;
}

.catalog-paginator .btn {
  padding: 11px 17px;
  margin-right: 0;
  text-decoration: none;
}

.catalog-paginator .btn.long {
  padding-left: 30px;
  padding-right: 30px;
}

.catalog-paginator li.active-page {
  padding: 9px 15px;
  color: #000000;
  cursor: default;
  background-color: #ffffff;
  border: 2px solid #f1f1f1;
}

/* ===== FOOTER ===== */
.main-footer {
  padding-bottom: 75px;
}

.footer-map {
  margin-bottom: 75px;
  height: 415px;
  padding-top: 1px;
  background: #b5b5b5 url("../img/footer-map.jpg") no-repeat 50% 50%;
}

.contacts {
  padding: 26px 20px;
  width: 210px;
  margin-top: 88px;
  background-color: #ffffff;
  color: #000000;
}

.contacts b {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  color: #666666;
  margin-bottom: 20px;
}

.contacts .btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-top: 30px;
}

.footer-social {
  float: left;
  width: 240px;
  margin-right: 80px;
  font-size: 0;
}

.social-btn {
  position: relative;
  display: inline-block;
  background-color: #e1e1e1;
  border-radius: 50%;
  height: 62px;
  width: 62px;
  margin-right: 27px;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
}

.social-btn:nth-child(3n) {
  margin-right: 0;
}

.social-btn-vk::before,
.social-btn-fb::before,
.social-btn-insta::before {
  position: absolute;
  content: "";
  font-family: "symbols-nerds";
  font-size: 24px;
  color: #ffffff;
  top: 20px;
  left: 0;
  width: 62px;
}

.social-btn-vk::before {
  content: "\76";
}

.social-btn-fb::before {
  content: "\66";
}

.social-btn-insta::before {
  content: "\1f4f7";
}

.social-btn:hover {
  background-color: #fb565a;
}

.social-btn:active {
  background-color: #d6494d;
  box-shadow: inset 0 3px 0 0 #b63e42;
}

.footer-text {
  float: left;
  width: 560px;
}

.footer-text b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}

.footer-text p {
margin: 0;
padding: 0;
margin-top: 8px;
}

/* ===== POPUP WINDOWS ===== */
.modal-contacts {
  display: none;
  position: fixed;
  z-index: 30;
  padding: 50px 80px;
  padding-right: 90px;
  top: 50%;
  left: 50%;
  width: 460px;
  min-height: 316px;
  margin-top: -208px;
  margin-left: -315px;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  background-color: #ffffff;
  color: #000000;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-contacts-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 41px;
  height: 41px;
  background-color: #fb565a;
  border-radius: 50%;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-contacts-close::before,
.modal-contacts-close::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 8px;
  width: 26px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 1px;
}

.modal-contacts-close:hover {
  background-color: #d6494d;
}

.modal-contacts-close:active {
  background-color: #b63538;
}

.modal-contacts-close::before {
  transform: rotate(45deg);
}

.modal-contacts-close::after {
  transform: rotate(-45deg);
}

.contacts-form .btn {
  width: 100%;
}

.contacts-form-up {
  margin-bottom: 20px;
}

.contacts-form-up .up-name {
  float: left;
  width: 220px;
}

.contacts-form-up .up-email {
  float: right;
  width: 220px;
}

.contacts-form label {
  display: block;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 9px;
}

.contacts-form input[type="text"],
.contacts-form textarea {
  border: 2px solid #d7dcde;
  border-radius: 2px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  padding: 8px 14px;
  text-transform: uppercase;
  color: #000000;
  outline: none;
}

.contacts-form input[type="text"] {
  width: 188px;
}

.contacts-form textarea {
  height: 102px;
  margin-bottom: 48px;
  resize: none;
  width: 428px;
}

.contacts-form input[type="text"]:hover,
.contacts-form textarea:hover {
  border-color: #a2a9ac;
}

.contacts-form input[type="text"]:focus,
.contacts-form textarea:focus {
  border-color: #56bffb;
}
